body .jumbotron {
  margin-top: 3rem;
  border-radius: 0;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/banner.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/banner.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 500px) {
  body .container .services-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  body .container .services-container div {
    width: 100%;
    max-width: 100%;
  }
}

body .container .card-container {
  margin-top: 2rem;
}

body .container .card-container .card-hotel {
  border: 1px solid #d5d8dc;
  border-radius: 5px;
  margin: 0.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 300px;
          flex: 1 300px;
  overflow: hidden;
}

body .container .card-container .card-hotel .card-img-top {
  height: 200px;
  width: auto;
}

body .container .card-container .card-hotel .description {
  padding: 1rem;
}

body .container .card-container .card-hotel .btn {
  border-radius: 0;
  border: none;
  width: 100%;
}

body .container .card-container .card-hotel .btn .reserve-icon {
  margin-right: 0.5rem;
}

body .container .card-container .card-hotel .btn:hover {
  background-color: #439690;
}

body footer {
  bottom: 0;
  color: white;
  margin-top: 2rem;
  padding: 1rem;
  background-color: #393e46;
}

body footer .footer-icon {
  margin-right: 1rem;
}

body footer a {
  color: white;
}

body footer a:hover {
  background-color: #b8bdc6;
}
/*# sourceMappingURL=main.css.map */