//colors
$primary-color: #58b4ae;
$secondary-color: #393e46;
body {
  .jumbotron {
    margin-top: 3rem;
    border-radius: 0;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/banner.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .container {
    .services-container {
      @media (max-width: 500px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        div {
          width: 100%;
          max-width: 100%;
        }
      }
    }
    .card-container {
      margin-top: 2rem;
      .card-hotel {
        .card-img-top {
          height: 200px;
          width: auto;
        }
        border: 1px solid lighten($color: $secondary-color, $amount: 60);
        border-radius: 5px;
        margin: 0.5rem;
        flex: 1 300px;
        overflow: hidden;
        .description {
          padding: 1rem;
        }
        .btn {
          border-radius: 0;
          border: none;
          width: 100%;
          .reserve-icon {
            margin-right: 0.5rem;
          }
          &:hover {
            background-color: darken($color: $primary-color, $amount: 10);
          }
        }
      }
    }
  }
  footer {
    bottom: 0;
    color: white;
    margin-top: 2rem;
    padding: 1rem;
    background-color: $secondary-color;
    .footer-icon {
      margin-right: 1rem;
    }
    a {
      color: white;
      &:hover {
        background-color: lighten($color: $secondary-color, $amount: 50);
      }
    }
  }
}
